
.date{
	display: inline;
	padding:15px;
}

#timeline{
	display: inline-block;
	position:relative; 
	margin-top:20px;
	z-index:1;
}
.example-card {
	max-width: 200px;
	min-width: 40%;
}

.icon {
	width: 40px;
	background-color:white;
}

table{
	border-collapse: separate;
	border-spacing:  3em 1.5em;
}

.center_div {
     margin : 0 auto;
     margin-bottom:50px;
}
